body{
    background-color:  #202733;;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.card{
    width: 540px;
    height: 332px;
    border-radius:15px;
    background-color: #313A48;
    box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
    display: flex;
   align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    
}
.span{
    font-family: 'Rubik Mono One', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 18px;    
    color: #53FFAA;
    text-align: center;
    letter-spacing: 4.08571px;
}
.img1{
    /* margin-top: 250px; */
}
.button{
    margin-top: -35px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px #53FFAA;
}
.advice1{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 38px;
text-align: center;
letter-spacing: -0.3px;

/* Light Cyan */

color: #CEE3E9;
width: 80%;
height: 15%;
}
@media(max-width:376px){
    .card{
        width: 343px;
        height: 315px;
    }
    .img2{
        width:295px;
        height: 16px;
    }
    .advice1{
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        letter-spacing: -0.257143px;
    }
    .span{
        font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 11px;
line-height: 15px;
text-align: center;
letter-spacing: 3.45714px;
color: #53FFAA;
    }
}